<div class="page-sub-heading">
    <h2>Author Catalogue</h2>
    <p>Authors of all books recorded in Bedford Library</p>
</div>

{{!-- Create a table --}}
<table id="author-table">
    {{!-- Header section --}}
    <thead>
        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Index</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Update/Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- For each row, print the id and title, in order --}}
        {{#each data}}
        <tr data-value="{{this.authorID}}">
            <td>{{counter @index}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>
                <button type="button" class="btn" onclick="showEditAuthor({{this.authorID}})">Edit</button>
                <button type="button" class="btn" onclick="deleteAuthor({{this.authorID}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record --}}
<div id="insert" style="display: block">
    <hr>
    <h3>Add New Authors</h3>
    <form id="add-author-form-ajax">
        <fieldset>
            <p>
                <label for="input-author-firstName">First Name: </label>
                <input type="text" name="input-author-firstName" id="input-author-firstName">
            </p>
            <p>
                <label for="input-author-lastName">Last Name: </label>
                <input type="text" name="input-author-lastName" id="input-author-lastName">
            </p>
            <input class="btn" type="submit" id="add-author-form-ajax-submit">
        </fieldset>
    </form>
    <hr>
</div>

{{!-- Form to edit a record --}}
<div id="edit-author" style="display: none">
    <h3>Update an Author</h3>
    <form id="edit-author-form-ajax">
        <fieldset>
            <p>
                <label for="authors"> Author: </label>
                <select name="authors" id="dropdown-authors-ajax">
                    {{#each data}}
                    <option value="{{this.authorID}}"> {{this.authorID}} {{this.firstName}} {{this.lastName}}</option>
                    {{/each}}
                </select>
            </p>
            <p>
                <label for="edit-author-firstName">Updated First Name: </label>
                <input type="text" name="edit-author-firstName" id="edit-author-firstName">
            </p>
            <p>
                <label for="edit-author-lastName">Updated Last Name: </label>
                <input type="text" name="edit-author-lastName" id="edit-author-lastName">
            </p>
            <input class="btn" type="submit" id="edit-author-button" value="Save Changes">
        </fieldset>
    </form>
    <hr>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_authors.js"></script>
<script src="./js/delete_authors.js"></script>
<script src="./js/edit_authors.js"></script>
