<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<br>
<br>
<button class="btn" onclick="window.location.href='./newCheckout';">New Checkout</button>
<br>
<div id="browse" style="display: block">
    <div class="page-sub-heading">
        <h2>
            Outstanding Checkouts
        </h2>
    </div>


    <table id="checkouts-table">
        <thead>
            <tr>
                <th>
                </th>
                <th>Checkout ID</th>
                <th>Member ID</th>
                <th>Member Name</th>
                <th>Book Copy ID</th>
                <th>Book Title</th>
                <th>Start Time</th>
                <th>Returned?</th>
                <th>Edit Checkout</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value="{{this.checkoutID}}">
                <td>
                    <button class="btn" value="{{this.checkoutID}}" onClick="return_book({{this.checkoutID}});">Return Book</button>
                </td>
                <td>{{this.checkoutID}}</td>                
                <td>{{this.memberID}}</td>
                <td>{{this.firstName}} {{this.lastName}}</td>
                <td>{{this.bookCopyID}}</td>
                <td>{{this.title}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.isReturned}}</td>
                <td>
                    <button class="btn" value="{{this.checkoutID}}" onclick="toggleShowEditCheckout({{this.checkoutID}}, {{this.memberID}});">Edit This Checkout</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <br>
</div>

<div>
    <button class="btn" onclick="toggleShowHiddenBooks()">Click to see past checkouts</button>
</div>

<div id="returnedBooksDiv" style="display: none">
    <div class="page-sub-heading">
        <h2>
            Returned Checkouts
        </h2>
    </div>

    <table id="returned-checkouts-table">
        <thead>
            <tr>
                <th>
                </th>
                <th>Checkout ID</th>
                <th>Member ID</th>
                <th>Member Name</th>
                <th>Book Copy ID</th>
                <th>Book Title</th>
                <th>Start Time</th>
                <th>Returned?</th>
                <th>Edit Checkout</th>
            </tr>
        </thead>

        <tbody>
            {{#each data2}}
            <tr data-value="{{this.checkoutID}}">
                <td>
                    <button class="btn" disabled>Returned</button>
                </td>
                <td>{{this.checkoutID}}</td>                
                <td>{{this.memberID}}</td>
                <td>{{this.firstName}} {{this.lastName}}</td>
                <td>{{this.bookCopyID}}</td>
                <td>{{this.title}}</td>
                <td>{{this.startTime}}</td>
                <td>{{this.isReturned}}</td>
                <td>
                    <button class="btn" value="{{this.checkoutID}}" onclick="toggleShowEditCheckout({{this.checkoutID}}, {{this.memberID}});">Edit This Checkout</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <br>
</div>

<div id="updateCheckoutForm" style="display: none">
    <h2>Update a Checkout</h2>

    
    <form id="update-checkout-form-ajax">
        <legend>
        </legend>
        <fieldset class="fields">
            <label for="selectCheckout">Which checkout would you like to update?</label>
            
            <select name="selectCheckout" id="selectCheckout">
                <option value="noOption">Select a Checkout to Update</option>
                {{#each data3}}
                <option value="{{this.checkoutID}}">{{this.checkoutID}}: {{this.title}} - {{this.lastName}}, {{this.firstName}}</option>
                {{/each}}
            </select>
            <br>
            <br>

            <label for="input-updatedMember">Who checked this book out?</label>
            <select name="input-updatedMember" id="input-updatedMember">
                <option>Select a Member</option>
                {{#each data4}}
                <option value="{{this.memberID}}">{{this.lastName}}, {{this.firstName}} </option>
                {{/each}}
                <option value="null">NO MEMBER / NULL</option>
            </select>
            <br>
            <br>
            <input class="btn" type="submit">
        </fieldset>
    </form>



</div>

{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src="./js/is_returned.js"></script>
<script src="./js/return_book.js"></script>
<script src="./js/edit_checkout.js"></script>