<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div id="browse" style="display: block">
    <div class="page-sub-heading">
        <h2>
            Library Members
        </h2>
    </div>


    <table id="members-table" border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Member ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>Email</th>
                <th>Update/Delete</th>
            </tr>
        </thead>

        <tbody>
            {{#each data}}
            <tr data-value="{{this.memberID}}">
                <td>{{this.memberID}}</td>
                <td>{{this.firstName}}</td>
                <td>{{this.lastName}}</td>
                <td>{{this.contactNumber}}</td>
                <td>{{this.currentAddress}}</td>
                <td>{{this.email}}</td>
                <td>
                    <button onclick="showUpdateMember({{this.memberID}});">Edit</button>
                    <button onclick="deleteMember({{this.memberID}})">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <br>
</div>


<div id="insert" style="display: block">
    <h3>Add New Members</h3>
    <form id="add-member-form-ajax">
        <legend>
            <strong>Add Member</strong>
        </legend>
        <fieldset class="fields">

            <label for="input-firstName">First Name: </label>
            <input type="text" name="input-firstName" id="input-firstName">

            <label for="input-lastName">Last Name: </label>
            <input type="text" name="input-lastName" id="input-lastName">
            <br>
            <br>

            <label for="input-contactNumber">Phone: </label>
            <input type="tel" name="input-contactNumber" id="input-contactNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <small>Format: 123-456-7890</small>
            <br>
            <br>
            <label for="input-currentAddress">Home address: </label>
            <input type="text" name="input-currentAddress" id="input-currentAddress">
            <br>
            <br>
            <label for="input-email">Email address:</label>
            <input type="email" name="input-email" id="input-email">
            <br>
            <br>
            <input class="btn" type="submit">
        </fieldset>
    </form>
</div>


{{!-- Update a member --}}
<div id="edit-member" style="display: none;">
    <h2>Update a Member</h2>
    <form id="update-member-form-ajax">
        <legend>
            <h4>Edit Member</h4>
        </legend>
        <fieldset class="fields">
            <label for="input-name">Member Name:</label>
            <select name="input-name" id="mySelect">
                <option value="test">Select a Person</option>
                {{#each data}}
                <option value="{{this.memberID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}
            </select>

            <label for="input-contactNumber-update">Phone: </label>
            <input type="tel" name="input-contactNumber-update" id="input-contactNumber-update" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <small>Format: 123-456-7890</small>
            <br>
            <br>
            <label for="input-currentAddress-update">Home address: </label>
            <input type="text" name="input-currentAddress-update" id="input-currentAddress-update">
            <br>
            <br>
            <label for="input-email-update">Email address:</label>
            <input type="email" name="input-email-update" id="input-email-update">
            <br>
            <br>
            <input class="btn" type="submit">
        </fieldset>
    </form>
</div>
            


{{!-- Embed JS to handle DOM manipulation and AJAX request --}}
<script src="./js/add_members.js"></script>
<script src="./js/delete_member.js"></script>
<script src="./js/update_member.js"></script>